@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary:#7db6d5;
    --dark:#090a0a;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body{
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
}
/* ngjyra e our servces*/
h1,h2,h3.display-4{
    color: var(--dark);
}
/* fund ngjyra*/
a{
    color: var(--dark);
    text-decoration: none;
 }

 .img{
    width: 100%;
 }

.navbar{
    box-shadow: var(--box-shadow);
}



/*madhesianenlogos foto n fund */
.logo{
    width: 200px;
}
/*fund logo*/
.navbar .nav-link{
    font-size: 16px;
    font-weight: 700;
}

.btn{
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}
/* logo nis*/

.brand h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #222222;
    padding-top: 35px;
    padding-bottom:0px ;
    font-style: italic;
}

.brand h1 span{
    color: #7db6d5;
}

/*logo fund*/
/* nis foto background n nav*/
.hero{
    background-image: url(images.png/best\ logo.png);
    background-position: top center;
    background-size: cover;
    background-attachment:fixed;
    position: relative;
    z-index: 1;
   width: 100%;
   height: max-content;
}



.hero::after{
content: '';
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background-color: rgba(53, 61, 62, 0.295);
z-index: -1;


} /* fund foto navbar*/

/* nis hero*/
/*
.hero{
    background-image: url(images.png/foto1.png);
    background-position:top center;
    background-size: cover;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;

}

.hero::after{
content:'';
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background-color: rgba(75, 73, 128, 0.8);
z-index: -1;
opacity: .7;
}

*/
#herp .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1{
    
    font-style: italic;
    display: block;
    width: fit-content;
    font-size: 2.5rem;
    position: relative;
    color:transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay:1.5s ;
}

#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #7db6d5;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #7db6d5;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 36px;
    transition: .3s ease background-color, color;
}

#hero .cta:hover{
    color: #fff;
    background-color: #7db6d5;
}

/* fund hero*/
/*nis keyframes*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100% {
        width:0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: #fff;
    }
}

@keyframes text_reveal_name{
    100%{
        color: #7db6d5;
        font-weight: 500;
    }
}
/* fund keyframe */


section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect{
    box-shadow: var(--box-shadow);
    background-color: #ffffff;
    padding: 25px;
    transition: all 0,35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
}

.service{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after{
content: '';
width: 100%;
height: 100%;
position: absolute;
top:-100px;
left: 0;
background-color: var(--primary);
z-index: -1;
opacity: 0;
transition: all 0.4s ease;
}


 .service:hover .iconbox{
    background-color: #ffffff;
    color: var(--primary);
 }

 .service:hover h5,
 .service:hover p{
    color: #fff;
 }

 .service:hover::after{
    opacity: 1;
    top: 0;
 }

 .col-img{
    background-image: url(images.png/photo.png);
    background-position: center;
    background-size: cover;
   min-height: 500px;
   
 }


 .project {
    position: relative;
    overflow: hidden;
 }

 .project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 61, 62, 0.295);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
 }

 .project img{
    transition: all 0.4s ease;
 }

 .project:hover .overlay{
    opacity: 1;
 }

 .project:hover img {
    transform: scale(1.1);
 }

 form input.form-contro{
    height: 56px;
 }

 form .form-control{
    border: transparent;
    border-radius: 0;
    background-color: rgba(0,0,0,0.02);
 }

 .footer-top {
    padding-bottom: 90px;
    padding: 90px;
    background-color: var(--dark);
 }

.footer-top a{
    color: var(--body);
}

.footer-top a:hover{
    color: #fff;
}

.footer-bottom{
    background-color: #242933;
}